@use '../../style/colors' as *;
@use '../../style/responsive' as *;

.header {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1240px;
  @include desktop {
    max-width: 100%;
    margin: 30px 70px;
  }
  @include tablet {
    max-width: 100%;
    margin: 20px 40px;
  }
  @include mobile {
    max-width: 100%;
    justify-content: space-between; 
    align-items: center;
    margin: 20px 20px;
  }

  &_img {
    align-items: center;
    height: 68px;
    width: 210px;
    @include mobile {
      height: 46px;
      width: 135px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 50px;
    @include mobile {
      gap: 22px;
    }

    a {
      font-size: 24px;
      color: black;
      font-weight: 500;
      position: relative;
      text-decoration: none;
      @include mobile {
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
      }

      &.active::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black;
      }   
    }
  }
}