@use "./colors" as *;
@use "./responsive" as *;

.about {
  max-width: 100%;
  margin: 0 auto;
  &__section {
    @include desktop {
      margin: 0 auto;
    }
    @include tablet {
      margin: 0 auto;
    }
    @include mobile {
      margin: 0 auto;
    }
  }
}