/// /// /// /// /// /// /// /// /// /// /// /// /// /// /// Style des couleurs /// /// /// /// /// /// /// /// /// /// /// /// /// /// ///

$mainColor: #FF6060;
$secondColor: #F6F6F6;
$white: #ffffff;
$black: #000000;