@use "./colors" as *;
@use "./general" as *;
@use "./responsive" as *;

.cover {
  width: 100%;
  max-width: 1240px;
  margin: 20px auto;
  position: relative;
  &__wrap {
    max-width: 1240px;
    margin: 30px auto 40px auto;
    position: relative;
    @include tablet {
      margin: 30px auto 30px auto;
    }
    @include mobile {
      margin: 20px auto 20px auto;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 25px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      z-index: 1;
      @include mobile {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  &__img {
    width: 100%;
    height: 223px;
    display: block;
    object-fit: cover;
    border-radius: 25px;
    &.shadow {
      box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.4);
    }
    @include tablet {
      height: 166px;
    }
    @include mobile {
      width: 100%;
      height: 111px;
      border-radius: 10px;
    }
  }
  &__txt {
    width: 100%;
    font-size: 48px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 15%;
    & p {
      text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
      @include mobile {
        text-shadow: none;
      }
    }
    @include tablet {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      top: 15%;
    }
    @include mobile {
      width: 225px;
      height: 48px;
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;
      text-align: start;
      top: 10%;
      left: 6%;
    }
  }
}