@use "./colors" as *;
@use "./responsive" as *;

.detail {
  max-width: 1023px;
  width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 25px auto 0 auto;
  overflow: hidden;
  @include mobile {
    margin: 15px auto 10px auto;
  }
  &__title {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 20px 10px 15px;
    background-color: $mainColor;
    z-index: 1;
    border-radius: 5px;
    user-select: none;
    @include mobile {
      height: 40px;
      padding: 10px 15px 10px 10px;
      font-size: 13px;
      align-items: center;
    }
  }
  &__content {
    width: 100%;
    text-align: justify;
    position: relative;
    font-size: 18px;
    line-height: 143%;
    font-weight: 400;
    color: black;
    padding: 25px 20px 20px 20px;
    background-color: $secondColor;
    border-radius: 0 0 10px 10px;
    user-select: none;
    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
      line-height: 17px;
      padding: 20px 15px 15px 15px;
    }
    & li {
      font-weight: 400;
    }
  }
}
.detail[open] .detail__content {
  margin: -8px 0 0 0;
}

.detail .chevron {
  width: 25px;
  height: 14px;
  transition: all 0.25s ease-in-out;
  @include mobile {
    width: 20px;
    height: 10px;
  }
}
.detail[open] .chevron {
  transform: rotate(-180deg);
}

.modif {
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
  @include tablet {
    width: 100%;
    height: 47px;
    padding: 10px 15px 10px 20px;
    font-size: 16px;
  }
  @include mobile {
    width: 100%;
    height: 40px;
    padding: 10px 15px 10px 10px;
    font-size: 13px;
  }
}