@use "./colors" as *;
@use "./responsive" as *;

.detail {
  width: 1023px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px auto 30px auto;
  overflow: hidden;
  @include desktop {
    width: min(100% - 140px);
  }
  @include tablet {
    width: min(100% - 60px);
  }
  @include mobile {
    width: min(100% - 40px);
    margin: 25px auto 25px auto;
  }
  &__title {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1023px;
    padding: 10px 20px 10px 15px;
    background-color: $mainColor;
    border-radius: 5px;
    user-select: none;
    &.modif {
      height: 52px;
      font-size: 18px;
      border-radius: 10px;
      padding: 10px 20px 10px 10px;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
      height: 40px;
      padding: 10px 15px 10px 10px;
      border-radius: 5px;
      font-size: 16px;
      align-items: center;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 0;
    text-align: justify;
    position: relative;
    font-size: 18px;
    line-height: 143%;
    font-weight: 400;
    color: black;
    padding: 25px 20px 20px 20px;
    margin: -70px 0 0 0;
    background-color: $secondColor;
    border-radius: 0 0 10px 10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    user-select: none;
    @include mobile {
      font-size: 12px;
      line-height: 17px;
      padding: 15px 10px 10px 10px;
    }
    & span {
      font-weight: 400;
    }
  }
}
.detail[open] .detail__content {
  max-height: 400px;
  margin: -8px 0 0 0;
  opacity: 1;
}

.detail .chevron {
  width: 25px;
  height: 15px;
  transition: all 0.25s ease-in-out;
  @include mobile {
    width: 20px;
    height: 10px;
  }
}
.detail[open] .chevron {
  transform: rotate(-180deg);
}