@use "./colors" as *;
@use "./responsive" as *;

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 115px;
  margin: 140px auto 120px auto;
  width: 80%;
  @include mobile {
    width: 90%;
  }
  img {
    max-width: 597px;
    height: 263px;
    @include mobile {
      height: 99px;
      width: 198px;
    }
  }
  p {
    color: $mainColor;
    font-size: 36px;
    text-align: center;
    @include tablet {
      font-size: 24px;
    }
    @include mobile {
      font-size: 18px;
      line-height: 25px;
      width: 78%;
    }
  }
  a {
    border-bottom: solid 2px $footer;
    color: $footer;
    font-size: 18px;
    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }
}