@use "./colors" as *;
@use "./responsive" as *;

.gallery {
  width: 100%;
  max-width: 1240px;
  margin: 50px auto;
  @include desktop {
    width: min(100% - 140px);
    margin: 50px auto;
  }
  @include tablet {
    max-width: 100%;
    width: min(100% - 60px);
    margin: 30px auto;
  }
  @include mobile {
    max-width: 100%;
    width: min(100% - 40px);
    background-color: $white;
    margin: 0 auto;
  }
  &__cards {
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: $secondColor;
    justify-content: space-around;
    border-radius: 25px;
    padding: 50px;
    @include desktop {
      max-width: 100%;
      // width: min(100% - 140px);
      margin: 0 auto;
      padding: 30px;
      gap: 40px;
    }
    @include tablet {
      max-width: fit-content;
      // width: min(100% - 60px);
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      padding: 30px;
      gap: 30px;
    }
    @include mobile {
      max-width: fit-content;
      // width: min(100% - 40px);
      grid-template-columns: repeat(1, 1fr);
      background-color: $white;
      margin: 0 auto;
      padding: 20px 0 0 0;
      gap: 20px;
    }
    &_item {
      position: relative;
      @include tablet {
        max-width: 335px;
      }
      @include mobile {
        max-width: 335px;
      }
      &_link {
        width: 100%;
        height: 340px;
        display: block;
        border-radius: 10px;
        color: $white;
        @include tablet {
          max-width: 335px;
          height: 300px;
        }
        @include mobile {
          max-width: 335px;
          height: 255px;
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 340px;
  object-fit: cover;
  @include desktop {
    width: 100%;
  }
  @include tablet {
    width: 100%;
    height: 300px;
  }
  @include mobile {
    width: 100%;
    height: 255px;
  }
  &__img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    @include desktop {
      width: 100%;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
    @include mobile {
      width: 100%;
      height: 255px;
    }
  }
  &__dusk {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      rgba(225, 225, 225, 0.05) 59%, rgba(0,0,0,0.6) 100%
    );
    @include desktop {
      width: 100%;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
    @include mobile {
      width: 100%;
      height: 255px;
    }
  }
}

.title {
  max-width: 300px;
  width: 70%;
  height: 52px;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  @include desktop {
    width: min(100% - 30px);
    left: 15px;
  }
  @include tablet {
    width: 80%;
    height: 40px;
  }
  @include mobile {
    width: 80%;
    height: 40px;
    bottom: 15px;
    left: 15px;
  }
}