@use "./colors" as *;
@use "./responsive" as *;

.gallery {
  width: 100%;
  max-width: 1240px;
  margin: 50px auto;
  &__cards {
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $secondColor;
    justify-content: space-around;
    border-radius: 25px;
    gap: 50px;
    padding: 50px;
    &_item {
      position: relative;
      &_link {
        width: 100%;
        height: 340px;
        display: block;
        border-radius: 10px;
        color: $white;
      }
    }
  }
}

.container {
  width: 100%;
  height: 340px;
  &__img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__dusk {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,rgba(255, 255, 255, 0),rgba(10, 10, 10, 0) 0%,rgba(4, 4, 4, 0.41) 41%,
    );
  }
}

.title {
  width: 90%;
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 15px;
}