@use "./colors" as *;
@use "./responsive" as *;

.gallery {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    &_info {
      h2 {
        font-size: 36px;
        color: $mainColor;
      }
      p {
        font-size: 18px;
        color: $footer;
      }
    }
    &_host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .host_info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        p {
          width: 30%;
          font-size: 18px;
          color: $mainColor;
        }
        img {
          width: 64px;
          height: 64px;
          border-radius: 30px;
        }
      }
    }
  }
  &__detail {
    display: flex;
    gap: 76px;
  }
}