@use "./colors" as *;
@use "./responsive" as *;

.rent {
  width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  @include desktop {
    width: min(100% - 140px)
  }
  @include tablet {
    width: min(100% - 80px);
    margin: 30px auto;
  }
  @include mobile {
    width: min(100% - 40px);
    margin: 20px auto;
  }
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1040px 200px;
    box-sizing: border-box;
    @include desktop {
      grid-template-columns: 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    &_info {
      & h2 {
        font-size: 36px;
        color: $mainColor;
        margin: 0;
        @include desktop {
          font-size: 32px;
        }
        @include tablet {
          font-size: 28px;
        }
        @include mobile {
          font-size: 20px;
        }
      }
      & p {
        font-size: 18px;
        color: $footer;
        margin: 10px 0 5px 0;
        @include desktop {
          font-size: 17px;
        }
        @include tablet {
          font-size: 16px;
        }
        @include mobile {
          font-size: 14px;
        }
      }
    }
    &_host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include desktop {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      @include tablet {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      @include mobile {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      .host_info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        p {
          font-size: 18px;
          color: $mainColor;
          @include desktop {
            font-size: 16px;
          }
          @include tablet {
            font-size: 15px;
          }
          @include mobile {
            font-size: 12px;
          }
        }
        img {
          height: 64px;
          border-radius: 30px;
          @include desktop {
            height: 58px;
          }
          @include tablet {
            height: 53px;
          }
          @include mobile {
            height: 42px;
          }
        }
      }
    }
  }
  &__detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }
}