@use "../style/colors" as *;
@use "../style/responsive" as *;

.slideshow {
  width: 100%;
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 20px;
  }
  @include mobile {
    margin-bottom: 10px;
  }
  &__container {
    max-width: 1240px;
    height: 415px;
    display: block;
    position: relative;
    @include tablet {
      height: 330px;
    }
    @include mobile {
      height: 255px;
    }
    &_arrowleft {
      position: absolute;
      top: 36%;
      left: 0;
      @include desktop {
        width: 75px;
        height: 95px;
        top: 41%;
      }
      @include tablet {
        width: 60px;
        height: 75px;
        top: 41%;
      }
      @include mobile {
      height: 36px;
      width: 28px;
      top: 45%;
      }
    }
    &_arrowright {
      position: absolute;
      top: 36%;
      right: 0;
      @include desktop {
        width: 75px;
        height: 95px;
        top: 41%;
      }
      @include tablet {
        width: 60px;
        height: 75px;
        top: 41%;
      }
      @include mobile {
        height: 36px;
        width: 28px;
        top: 45%;
      }
    }
    .arrow:hover {
      cursor: pointer;
    }
    &_indicator {
      font-size: 18px;
      position: absolute;
      left: 49%;
      bottom: 25px;
      @include mobile {
        display: none;
      }
    }
    &_slide {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;
      @include mobile {
        max-width: 100%;
        height: 255px;
      }
    }
    &_slidehidden {
      display: none;
    }
  }
}