@use "../style/colors" as *;
@use "../style/responsive" as *;

.tag {
  width: 100%;
  margin-top: 25px;
  @include mobile {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  &__container {
    min-width: 115px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    margin: 0;
    @include mobile {
      flex-wrap: wrap;
      gap: 10px;
    }
    &_item {
      font-size: 14px;
      align-items: center;
      background-color: $mainColor;
      border-radius: 10px;
      padding: 5px 30px;
      @include tablet {
        font-size: 12px;
        line-height: 14px;
        padding: 5px 15px;
      }
      @include mobile {
        font-size: 10px;
        line-height: 14px;
        padding: 5px 10px;
      }
    }
  }
}